<h1>Product name: <%= @product.name %></h1>
<h3>Price $: <%= @product.cost %></h3>
<h3>Made in <%= @product.country_of_origin %></h3>

<% if @product.reviews.any? %>
  <h4>Here are the reviews for this product:</h4>

  <% @product.reviews.each do |review| %>
    <ul>
      <li>
        <h4>The user of the product: <%= link_to review.author, product_review_path(@product, review) %></h4>
      </li>
    </ul>
  <% end %>
<% else %>
  <p>No reviews are listed for this product.</p>
<% end %>

<%= button_to "Add Review to Product", 
              new_product_review_path(@product),
              method: :get %>


<%= button_to "Edit Product", 
              edit_product_path(@product),
              method: :get %>

<%= button_to "Delete Product", 
              product_path(@product),
              method: :delete %> 

<%= button_to "Return to Products Page", 
              products_path,
              method: :get %>